* {
    padding: 0;
    margin: 0;
}

.grid-container{
    width: 100%;
    min-height: 100vh;
    background: #090B1A;
    padding: 40px 20px;
}

.container{
    background: #1A1835;
    display: flex;
    border-radius: 25px;
    flex-direction: column-reverse;
}


.container-text {
    padding: 4rem 2rem;
}


.image {
    background:
    linear-gradient(
      rgba(0, 0, 255, 0.25),
      rgba(0, 0, 255, 0.25)
    ),
    url("images/image-header-mobile.jpg");
  background-position: center center;
  background-size: cover;
  height: 250px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.text{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.b-text{
    color: #CC66FF;
}

.small-text{
    color: white;
    font-weight: lighter;
    font-size: 1rem;
    color: #aba0a0;
    margin-top: 3rem;
    line-height: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.number {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.number-text {
    color: grey;
    font-size: 12px;
    margin-top: 0.5rem;
}

@media screen and (min-width: 1440px) {
    .container {
        flex-direction: row !important;
        justify-content: space-between;
        border-radius: 0 !important;
        width: 70%;
    }
    .container-text {
        padding: 4rem 0rem 4rem 3rem !important;
    }
    .grid-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0  !important;
    }
    .image {
        height: 404px !important;
        width: 550px !important;
        border-top-right-radius: 0  !important;
        border-top-left-radius: 0 !important;
    }
}
