* {
    padding: 0;
    margin: 0;
}



.grid-container{
    width: 100%;
    min-height: 100vh;
    background: #090B1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    height: 500px;
    background: #1A1835;
    display: flex;
    flex-direction: column-reverse;
    
}

@media screen and (min-width: 1440px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}


.image {
    height: 500px;
    width: 500px;
    background:
    linear-gradient(
      rgba(0, 0, 255, 0.25),
      rgba(0, 0, 255, 0.25)
    ),
    url("images/image-header-mobile.jpg");
  background-position: center center;
  background-size: cover;
}

.image img{
    min-height: 500px;
    width: 500px;
    float: right;
}

.text{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: 4rem;
    margin-left: 4rem;
}

.b-text{
    color: #CC66FF;
}

.small-text{
    color: white;
    font-weight: lighter;
    font-size: 1rem;
    color: #aba0a0;
    margin-top: 3rem;
    margin-left: 4rem;
    line-height: 20px;
}

.price{
    color: #ffffff;
    margin-top: 6rem;
    margin-left: 4rem;
}

.number{
    color: #ffffff;
    margin-top: -1.75rem;
    margin-left: 12rem;
}

.query{
    color: #ffffff;
    margin-top: -1.75rem;
    margin-left: 20rem;
}

.company{
    color: #ffffff;
    font-weight: lighter;
    color: #aba0a0;
    margin-left: 4rem;
    margin-top: 0.5rem;
}

.template{
    color: #ffffff;
    font-weight: lighter;
    color: #aba0a0;
    margin-left: 12rem;
    margin-top: -0.9rem;
}

.queries{
    color: #ffffff;
    font-weight: lighter;
    color: #aba0a0;
    margin-left: 20rem;
    margin-top: -0.9rem;
}

.container-1{
    width: 1000px;
    height: 500px;
    background: #1A1835;
}